#root {
    position:absolute;
    width:98%;
    left:1%;
    height:100%;
}

#navbar {
    position:absolute;
    height: 50px;
    top:0%;
    left:0%;
    width: 100%;
    height: 5%;
    margin:auto;
    padding-left: 10px;
}

#title-div {
    position: absolute;
    top:7px;
}

#left-sidebar {
    position:absolute;
    height:94%;
    width:13%;
    top:5.5%;
    left:0%;
    padding-left: 15px;
}

#workspace {
    position:absolute;
    height:94%;
    width:85.5%;
    top:5.5%;
    left:13%;
    padding-left: 15px;
    padding-right: 25px;
    grid-column: 2 span 1;
    grid-row: 2 span 1;
    display: flex;
    flex-direction: column;
}

#left-sidebar-header {
    padding-top:25px;
    height:4%;
    top:3%;
    width: 80%;
    display: grid;
    grid-template-columns: 60% 40%;
    white-space: nowrap;
}

#todo-lists-list {
    position:absolute;
    text-align: center;
    height:80%;
    width:100%;
    top: 8%;
}

.todo-list-button {
    padding-top:20px;
    height: 60px;
    width: 80%;
}

.todo-button {
    /* white-space: nowrap; */
}

#left-sidebar-controls {
    text-align: right;
}

#todo-list-header-card {
    padding-top:25px;
    height:30px;
    width: 98%;
}

#todo-list-items-div {
    /* height:96%;
    top:7%;
    display: flex;
    flex-direction: column; */
    height: 700px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-right: 1px;
}

.list-item-card {
    padding-top:20px;
    height: 45px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid;
    
}

.item-col {
    width:25%;
}

.list-controls-col {
    display: flex;
    flex-direction: row; 
    flex-wrap: nowrap;
}

.list-item-control {
    width: 20%;
}

.item-button {
    display: flex;
    flex-direction: row;
    align-content: center;

}

h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.text-display{
    /* width: 100%; */
    height: 100%;
    display: flex;
    align-items: right;
    align-self: flex-start;
    justify-content: flex-start;
    text-align: start;
    margin: 0;
}

.button-trio{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    float: left;
    height: 100%;
}

.test{
    width:98%
}

.task-col {
    min-width: 25%;
    max-width: 100%;
}

.due-date-col {
    min-width: 25%;
    max-width: 100%;
}

.status-col {
    min-width: 25%;
    max-width: 100%;
}

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 35%;
    top: 25%;
    width: 30%;
    animation: appear_in .3s ease;
}

.modal-header {
    margin: 4%;
    display: flex;
    flex-direction: row;
    height: 1%;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.modal-overlay {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.modal-button {
    margin-bottom: 2%;
    margin-right: 2%;
    margin-top: 2%;
    width: 20%;
    padding: 2%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    position: relative;
}

.item-button {
    display: flex;
    flex-direction: row;
    align-content: center;
}

